<app-file
  class="file-name"
  *ngIf="folderInfo.type === fileTypes.FILE"
  [name]="folderInfo.name"
></app-file>

<ng-container *ngIf="folderInfo.type === fileTypes.FOLDER">
  <app-folder
    class="folder"
    [folderInfo]="folderInfo"
    (showChange)="onShow($event)"
  ></app-folder>
  <ng-container *ngIf="isShow">
    <app-tree-node
      class="tree-node"
      *ngFor="let children of folderInfo.children"
      [folderInfo]="children"
    >
    </app-tree-node>
  </ng-container>
</ng-container>
