*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  line-height: 1.715;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
  width: 100%;
  min-width: 320px;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: $default__font-size;
  font-weight: 14px;
  color: #37474f;
  text-rendering: optimizeSpeed;
}
button {
  padding: 0;
  background-color: transparent;
  border: 0;
  outline: 0;
}
.tree-node {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.folder {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 8px;
}
.folder-name {
  margin: 0 8px;
}
.file-name {
  margin-bottom: 8px;
  font-size: 14px;
}
.main-button:hover {
  cursor: pointer;
  background-color: #d3dae0;
  border: none;
}
.main-button__image {
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
}
.button-plus {
  width: 24px;
  height: 24px;
  background-image: url("/assets/icons/add-24px.svg");
  border-radius: 50%;
}
.button-minus {
  width: 24px;
  height: 24px;
  background-image: url("/assets/icons/remove-24px.svg");
  border-radius: 50%;
}
.button-up {
  width: 16px;
  height: 16px;
  background-image: url("/assets/icons/keyboard_arrow_up-24px.svg");
}
.button-down {
  width: 16px;
  height: 16px;
  background-image: url("/assets/icons/keyboard_arrow_down-24px.svg");
}
.tree-base {
  display: block;
  margin-top: 8px;
}
