.main-button
  &:hover
    cursor: pointer
    background-color $palette--1c

.button-plus
  width: 24px;
  height: 24px;
  background-image  url("/assets/icons/add-24px.svg")
  background-position: center;
  border-radius: 50%;
  border: none;
  background-size: 16px;
  background-repeat: no-repeat

.button-minus
  width: 24px;
  height: 24px;
  background-image  url("/assets/icons/remove-24px.svg")
  background-position: center;
  border-radius: 50%;
  border: none;
  background-size: 16px;
  background-repeat: no-repeat
